.container {
    padding: 20px;
}

.custom-margin {
    margin-top: 10px; /* Adjust this value as needed */
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.col {
    flex: 1;
    padding: 0 10px;
}

button {
    width: 100%;
}


.custom-input {
    width: 80%; /* Make sure input fields are 100% of their column's width */
    max-width: 300px; /* Limit the width for larger screens */
    margin: 0 auto; /* Center the input fields */
}

@media (max-width: 768px) {
    .custom-input {
        max-width: 100%; /* For smaller screens, inputs can take the full width */
    }
}

/* Optional: Reduce padding inside input fields */
.form-control {
    padding: 0.375rem 0.75rem;
}
.red-button {
    background-color: red;
    color: white;
    border: none;
}

.blue-button {
    background-color: blue;
    color: white;
    border: none;
}