.plan-page {
    text-align: center;
    padding: 0;
}

h2 {
    color: #333;
    margin-top: 10px;
    width: 10%;
    font-size: 22px;
    text-align: left;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    padding: 0;
}

.dropdown-container {
    width: 30%;
    padding: 10px;
    text-align: left;
}

.menu-dropdown {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.table-container {
    width: 65%;
    padding: 10px;
    text-align: left;
}

.ingredients-table {
    width: 100%;
    border-collapse: collapse;
}

    .ingredients-table th,
    .ingredients-table td {
        padding: 8px;
        border: 1px solid #ddd;
    }

.next-button-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.error-message {
    color: red;
    margin-top: 20px;
}

.next-button-container {
    padding:10px;
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.next-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .next-button:hover {
        background-color: #45a049;
    }

.plan-section {
    text-align: center;
    padding: 20px;
    padding: 0;
}

.button-container {
    width:100%;
    margin-bottom: 10px;
    padding: 10px;
}

.previous-next-button {
    width: 100%;
    padding: 10px;
}

.left {
    justify-content: flex-start; /* Align "Previous" button to the left */
}

.right {
    justify-content: flex-end; /* Align "Next" button to the right */
}

.day-button {
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    color: black;
}

    .day-button.selected {
        background-color: #007bff;
        color: white;
    }

    .day-button:hover {
        background-color: #007bff;
        color: white;
    }

.single-button-container {
    width:15%;
    padding:1%;
}

.graphic-button {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    align-items: flex-start;
    padding: 0px;
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
    pointer-events: all;
}

.button-image {
    width: 30px; /* Size of the image */
    height: 30px;
    margin-right: 10px; /* Space between the image and text */
}